.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30vmin;
}
.navBlack{

  background-color: #000;
  color:#fff !important;
}
.navBlack a{
  color:#fff !important;
}
.Menu{
  padding: 0;
  margin: 0;
  list-style: none;
}

.Menu li{
  padding: 10px;
  display:inline-block;
  padding-right: 20px;
  color:#FFF;
  font-weight: bold;
}
.Menu li a{
  color:#ccc;
  text-decoration: none;
}

.Menu li a:hover{
  color:#FFF;
}
.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
